.split {
    display: flex;
}

/* WHEN USER HAS NO NOTES */
.fresh-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.first-note {
    cursor: pointer;
    background-color: #4a4e74;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 1rem;
}

/* END */

.note-summary:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

.note-legend {
    padding-inline: 5px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #4a4e74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected .note-legend {
    color: white;
    font-weight: 700;
}

.selected {
    background-color: #4a4e74;
}

.gutter {
    background-color: #ccc;
    /* border-left: 4px solid black; */
    /* border-right: 4px solid black; */
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}
